<%- include('./partials/header') -%>

<h1>Welcome to the homepage</h1>
<h1><a href="/myprofile">My Profile</a></h1>

<% console.log('User:', user); %>
<% if (user) { %>
  <% if (user.jobs && user.jobs.length > 0) { %>
    <%- include('./partials/job', { jobs: user.jobs }) -%>
  <% } else { %>
    <p>No jobs found</p>
  <% } %>
<% } %>

<a href="/newjob">Create a new job</a> 

<%- include('./partials/footer') -%>