<%- include('./partials/header') -%>

<div class="form-container">
    <form>
        <h1 class="formTitle">Create job</h1>

        <label for="jobtitle">Job title</label><br>
        <input type="text" name="jobtitle" required>
        <div class="jobtitle error"></div>

        <label for="company">Company</label><br>
        <input type="text" name="company">
        <div class="company error"></div>

        <label for="website">Website</label><br>
        <input type="text" name="website" required>
        <div class="website error"></div>

        <h2 formTitle>Employer's contact</h2>

        <label for="nameEmployer">Name</label><br>
        <input type="text" name="nameEmployer">
        <div class="nameEmployer error"></div>

        <label for="emailEmployer">Email</label><br>
        <input type="email" name="emailEmployer">
        <div class="emailEmployer error"></div>

        <label for="phoneEmployer">Phone</label><br>
        <input type="text" name="phoneEmployer">
        <div class="phoneEmployer error"></div>

        <label for="adressEmployer">Adress</label><br>
        <input type="text" name="adressEmployer">
        <div class="adressEmployer error"></div>
        <br>
        <p>Origin</p>
        <input type="radio" id="origin1" name="origin" value="Spontaneous application" required>
        <label for="origin">Spontaneous application</label>
        <input type="radio" id="origin2" name="origin" value="Job offer">
        <label for="origin">Job offer</label>
        <br>
        <p>Status</p>
        <input type="radio" id="status1" name="status" value="Interested" required>
        <label for="status">Interested</label>
        <input type="radio" id="status2" name="status" value="CV sent">
        <label for="status">CV sent</label>
        <input type="radio" id="status3" name="status" value="Negative">
        <label for="status">Negative</label>
        <input type="radio" id="status4" name="status" value="Interview">
        <label for="status">Interview</label>

        <br>
        <label for="comments">Comments</label><br>
        <input type="textarea" name="comments">
        <div class="comments error"></div>

        <button>Create</button>

    </form>
</div>
    <script>
        const form = document.querySelector('form');




        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            // reset errors


            // get the values
            const jobtitle = form.jobtitle.value;
            const website = form.website.value;
            const company = form.company.value;
            const nameEmployer = form.nameEmployer.value;
            const emailEmployer = form.emailEmployer.value;
            const phoneEmployer = form.phoneEmployer.value;
            const adressEmployer = form.adressEmployer.value;
            const origin = form.origin.value;
            const status = form.status.value;
            const comments = form.comments.value;
            


            try {
    const res = await fetch('/newjob', {
        method: 'POST',
        body: JSON.stringify({ jobtitle, website, company, nameEmployer, emailEmployer, phoneEmployer, adressEmployer, origin, status, comments }),
        headers: { 'Content-Type': 'application/json' }
    });

    const data = await res.json(); // Cette ligne de code

    if (!data.errors) {
        form.reset();
    }
} catch (err) {
    console.log(err);
}
        });
    </script>

    <%- include('./partials/footer') -%>