@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

nav {
   /*  background-color: #d43016; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;

}

html{
    
    min-height: 100%;
}

body {
    background: linear-gradient(#f4654f, #da3117);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
   /*  min-height: 100%; */
}

ul {
    text-align: right;
}
.logo {
font-size: 35px;
font-family: 'Playfair Display', serif;
font-style: italic;

}
.welcome {
    font-weight: bold;
    margin-bottom: 15px;
}

.logoutBtn, .updateBtn, .createjobBtn{
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    color: black;
}

.createjobBtn {
    border-style: none;
}


.logoutBtn:hover, .updateBtn:hover, .createjobBtn:hover{
    background-color: black;
    color: white;
}

.myprofileBtn {
    text-decoration: underline;
}
.myprofileBtn:hover {
    text-decoration: underline;
    color: black;
}

/* @media only screen and (max-width: 500px) {
    .separator {
        display: none;
    }
} */


.dashboardTitle,
.myprofileTitle {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}

.newjobBtn {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

.newjobBtn:hover{
    color: black;
}

.errorJob {
    text-align: center;
}

.formTitle {
    font-family: 'Playfair Display', serif;
    margin-bottom: 25px;

}


.form-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

/* .form-container input {
    margin-bottom: 15px;
    margin-top: 5px;
} */


.btnForm {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    border-style: none;
    cursor: pointer;
}

input {
    margin-top: 5px;
    margin-bottom: 13px; 
    border-radius: 10px;
    padding: 5px;
    border-style: none;
}

.myprofileText {
    text-align: center;
    line-height: 30px;
}


.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    row-gap: 100px;
    column-gap: 150px;
}

@media only screen and (max-width: 767px) {
    .dashboard {
        grid-template-columns: 1fr; /* Passez à une seule colonne */
        margin-left: 30px; /* Ajustez les marges selon vos besoins pour une meilleure apparence sur les téléphones */
        margin-right: 30px;
        row-gap: 50px; /* Ajustez l'espacement des lignes selon vos besoins */
        column-gap: 0; /* Supprimez l'espacement des colonnes sur les téléphones */
    }
    nav {
        display: block;
        text-align: center;
    }
    nav ul {
        text-align: center;
        margin-top: 10px;
    }
}

/* Media query pour les écrans de taille maximale d'iPod (par exemple, 480px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .dashboard {
        grid-template-columns: 1fr 1fr; /* Passez à deux colonnes pour les iPods */
        margin-left: 20px; /* Ajustez les marges selon vos besoins pour une meilleure apparence sur les iPods */
        margin-right: 20px;
        row-gap: 50px; /* Ajustez l'espacement des lignes selon vos besoins */
        column-gap: 30px; /* Ajoutez de l'espacement entre les colonnes pour les iPods */
    };
    
}



.jobDashboard {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 15px;
    position: relative;

}

.seemore {
    text-align: right;
    text-decoration: underline;
    font-size: 15px;
    color: black;
}

.seemore:hover {
    font-weight: bold;
}


.statusDashboard {
    position: absolute;
    top: -10px;
    right: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.jobdetail-container {
    text-align: center;
    margin-top: 50px;
    line-height: 30px;
}

.contactText {
    font-weight: bold;
    margin-top: 20px;
}

.deleteBtn {
    text-decoration: underline;
    cursor: pointer;
    max-width: 60px;
    margin-left: auto;
    margin-right: auto;
}


.button-container{
    display: flex;
    justify-content:center;
    margin-top: 30px;

}
.companyDashboard {
    margin-bottom: 30px;
}

.jobtitleDashboard {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.jobtitleDashboard,
.companyDashboard {
    margin-left: 20px;
} 

.logo {
    position: relative;
    text-decoration: none;
    color: white; /* Couleur du texte */
  }
  .logo::before,
  .logo::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3px;
    height: 2px; /* Épaisseur de la ligne */
    background-color: white; /* Couleur de la ligne */
    transform-origin: left;
    transform: scaleX(0); /* Ligne invisible par défaut */
    transition: transform 0.3s ease;
  }
  
  /* Lorsqu'on est hover, la ligne se déploie de gauche à droite */
  .logo:hover::before,
  .logo:hover::after {
    transform-origin: right;
    transform: scaleX(1);
  }
  
  /* Lorsqu'on n'est plus hover, la ligne se retire de droite à gauche */
  .logo:not(:hover)::before,
  .logo:not(:hover)::after {
    transform-origin: left;
    transform: scaleX(0);
  }


/* Media query pour les écrans de taille maximale de téléphone (par exemple, 767px) */
@media only screen and (max-width: 767px) {
    .logo::before,
    .logo::after {
        height: 0; /* Set the height to 0 for no line */
        background-color: transparent; /* Remove line color */
        transform: scaleX(0); /* Invisible line by default on phones */
    }
    
}
